html {
    min-width: 100%;
    min-height: 100%;
   }
   
div {
    margin: 50px;
    border: 50px;
    padding: 100px;
    text-align:center;
    background: url("../site/images/jurassic-backgound2.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 50px;
    color: rgb(140, 87, 18);
    margin-bottom: 200px;
}

body {
    background-color: rgb(171, 235, 181);
}

img {
    display: table;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 500px;
    font-size: 30px;
}

a {
    color:aqua;
    text-decoration: none;
}

a:hover {
    color:orange;
}